<div style="min-height: 100vh; min-width: 100vw; background-color: #404040;">
	<mat-tab-group mat-align-tabs="center" dynamicHeight (selectedTabChange)="tabChanged($event)">
		<mat-tab label="Login" *ngIf="!loggedIn">
	    <ng-template matTabContent>
				<div class="content">
		    	<app-login></app-login>
				</div>
	    </ng-template>
		</mat-tab>
		<div *ngIf="!loggedIn">
      <mat-tab label="Dashboard">
        <ng-template matTabContent> <!--Enables Lazy-loading-->
          <div class="content">
				    <app-dashboard></app-dashboard>
          </div>
        </ng-template>
      </mat-tab>
			<mat-tab label="Mixing">
	    	<ng-template matTabContent>
					<div class="content">
		    		<app-input></app-input>
					</div>
	    	</ng-template>
			</mat-tab>
      <mat-tab label="Settings">
        <ng-template matTabContent>
          <div class="content">
            <app-config></app-config>
          </div>
        </ng-template>
      </mat-tab>
			<mat-tab label="Logout">
	    	<ng-template matTabContent>
					<div class="content">
		    		<app-login></app-login>
					</div>
	    	</ng-template>
			</mat-tab>
		</div>
  </mat-tab-group>
</div>
