<h1 mat-dialog-title>Set New Password</h1>
<form (ngSubmit)="onSubmit()">
  <div mat-dialog-content>
    <span class="label">
      Current Password: <input matInput formControlName="currentPassword" cdkFocusInitial>
    </span><br>
    <div *ngIf="submitted && form.currentPassword.errors" class="invalid-feedback wide-feedback">
      <div *ngIf="form.currentPassword.errors.required">Password is required</div>
    </div>
    <span class="label">
      New Password: <input matInput formControlName="newPassword">
    </span><br>
    <div *ngIf="submitted && form.newPassword.errors" class="invalid-feedback wide-feedback">
      <div *ngIf="form.newPassword.errors.required">New password is required</div>
    </div>
    <span class="label">
      Re-enter New Password: <input matInput formControlName="newPasswordRepeated">
    </span>
    <div *ngIf="submitted && form.newPasswordRepeated.errors" class="invalid-feedback wide-feedback">
      <div *ngIf="form.newPasswordRepeated.errors.required">New password is required</div>
    </div>
  </div>
  <div mat-dialog-actions>
    <div *ngIf="!correctPassword" class="invalid-feedback">Incorrect password</div>
    <div *ngIf="!passwordsMatch" class="invalid-feedback">Passwords must match</div><br>
    <button mat-button type="submit">Update Password</button>
    <button mat-button (click)="onNoClick()">Close</button>
  </div>
</form>
